body{
    background-color: #f4f7f6;
    margin: 0px;
    padding: 0px;
}
*{
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: #1d1d1d;
    color: white;
}
h1{
    margin-top:0;
    padding-top: 10px;
}

h2{
    font-size: 1.5em;
}
header img{
    width: 100px;
}

nav{
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px 1px -1px rgba(0, 0, 0 , 0.5);
    font-size: 1.1em;
    padding: 15px;
}
ul{
    padding: 0;
}
li{
    display: inline;
    list-style-type: none;
    margin: 10px;
}
a{
    text-decoration: none;
    color: black;
}
nav a:hover{
    font-weight: bold;
}

h3::before{
    content: "«";
    color: gray;
}
h3::after{
    content: "»";
    color: gray;
}
h3{
    font-size: 1.5em;
}

section{
    text-align: center;
    margin-top: 50px;
}

footer{
    background-color: #1d1d1d;
    color: white;
    text-align: center;
    padding: 15px;
}


.separator{
    width: 40px;
    height: 1px;
    margin: 15px auto;
    display: block;
    background-color: #999999;
}
.projet{
    width: 400px;
    margin: 30px;
    display: inline-block;
    background-color: white;
    padding-bottom: 15px;
    border: 0px black solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.projet:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: 0.8s;
}
.projet img{
    min-width: 400px;
    height: 266px;
    margin-bottom: 15px;


}
/*.picture{
    overflow: hidden;
}*/

.picture .date-project{
    font-size: 0.7em;
}
.picture span{
    text-transform: uppercase;
    display: block;
}


#paracont{
    border: 1px black solid;
    border-radius: 15px;
    padding: 30px;
    margin: 0 20% 50px 20%;
}
#paracont p{
    word-wrap: break-word;
}
#projet{
    display: flex;
    flex-wrap: wrap;
}

#picture-project img{
    width: 50%;
    margin: 50px;
}

#picture-project video{
    margin-bottom: 50px;
}
/*
@media all and (max-width: 1000px){
    .projet{width: 90%; margin: 15px auto;}
    .projet img{width: 100%; min-width: auto; height:auto}
}